PORT=1234
SALT_ROUNDS=1234
MONGO_INITDB_ROOT_USERNAME=qwerty
MONGO_INITDB_ROOT_PASSWORD=qwerty
MONGO_INITDB_DATABASE=qwerty
ME_CONFIG_MONGODB_ADMINUSERNAME=qwerty
ME_CONFIG_MONGODB_ADMINPASSWORD=qwerty
ME_CONFIG_MONGODB_URL=mongodb://qwerty:qwerty@qwerty:12345/
MONGO_HOST=qwerty
MONGO_DB=qwerty
MONGO_PORT=12345
MONGO_USER=qwerty
MONGO_PASSWORD=qwerty
MONGO_AUTH_BASE=qwerty
JWT_ACCESS_TOKEN_SECRET=qwerty
JWT_ACCESS_TOKEN_EXPIRES_IN=11111m
JWT_REFRESH_TOKEN_SECRET=qwerty
JWT_REFRESH_TOKEN_EXPIRES_IN=11111d
MAIL_SMTP_HOST=qwerty
MAIL_SMTP_PORT=1234
MAIL_USER_NAME=qwerty
MAIL_USER_PASSWORD=qwerty
MAIL_FROM=<qwerty@qwerty.qwerty>
NODE_ENV=qwerty
SERVE_ROOT=qwerty
UPLOAD_DIRECTORY_PATH=qwerty
QUEUE_HOST=qwerty
QUEUE_PORT=1234
