<h2>Привет, {{name}}</h2>
<p> Ваша регистрация прошла успешно! </p>
<p> Ниже ваши логин и пароль: </p>
<p> Логин: {{email}} </p>
<p> Пароль: {{password}} </p>
<p> Пожалуйста, никому не передавайте свои логин и пароль! </p>


